.main__content-inner {
  display: flex;
}

app-top-anime {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-left: 15px;
}

.main__content-left {
  display: flex;
  flex-direction: column;
  flex: 0 0 66.666666%;
  max-width: 66.666666%;
  padding-right: 15px;
}
